/* ==========================================================================
   Base container element styles
   ========================================================================== */

body {
    background:url('../imgs/bg.jpg') repeat;
    /* solid background */
    /*background: #faedc0 */
    font-family: Ubuntu, sans-serif;
    font-weight:400;
    font-size:14px;
}
#container {
    margin:0 auto;
    position:relative;
    width:1246px;
}

#main {
    background-size: 100% 100% !important;
    width:1246px;
    height:713px;
    margin:20px 0 20px;
}

/* ==========================================================================
   Popup. General popup styles, along with overlay
   ========================================================================== */
#overlay {
    z-index:1000;
    position: fixed;
    top:0; left:0;
    background:#fff;
    opacity:.6;
    width:100%;
    height:100%;
    display:none;
}
.popup.show-at-once {
    display:block;
}

.popup#ajax {
    background:url('../imgs/ajax_loader_blue_256.gif') no-repeat center center;
}
.popup h2 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 300;
	text-shadow: 0px 1px 4px #0f506c;
}

.popup a.close-button {
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	background: url(../imgs/icon-close.png) 0 0 no-repeat;
	top: 10px;
	right: 10px;
}

.popup {
	background: url(../imgs/popup-texture.jpg) 0 0 repeat-x #258fbf;
	width: 940px;
	padding: 40px;
	margin: 25px auto;
	border: solid 5px #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 10px #666666;
	-webkit-box-shadow: 0px 0px 10px #666666;
	box-shadow: 0px 0px 10px #666666;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	color: #fff;
        z-index:1001;
        position:absolute;
        top:25px;
        left:50%;
        margin-left:-470px;
        display:none;
}

.popup #step1,
.popup #step2,
.popup #step3 {
	width: 33%;
	float: left;
	text-align: center;
	min-height: 500px;
}

.popup #step1 {	background: url(../imgs/faq-steps-divide.png) 100% 40px no-repeat;}
.popup #step3 {	background: url(../imgs/faq-steps-divide.png) 0 40px no-repeat;}

#faqPopup p {
	color: #a4d1e5;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
}

#faqPopup figure {	padding: 35px 0 20px;}

#faqPopup div.step {
	background: url(../imgs/heading-line.gif) 0 15px repeat-x;
	padding-bottom: 10px;
}

#faqPopup div.step span {
	background: url(../imgs/step-count.png) 0 0 no-repeat;
	width: 36px;
	height: 35px;
	margin: auto;
	display: block;
	font-size: 24px;
	font-weight: 700;
	text-shadow: 0px 1px 4px #0f506c;
}

.button-container {
	clear: both;
	padding: 25px 0;
	text-align: center;
}


/* ==========================================================================
   Button styles. span inside is for smaller font
   ========================================================================== */
a.button {
	display: inline-block;
	margin: auto;
	clear: both;
	text-align: center;
	line-height: 22px;
	border: none;
	border-top: 1px solid #ed8eae;
	background: #ba114f;
	background: -webkit-gradient(linear, left top, left bottom, from(#dc2c64), to(#ba114f));
	background: -webkit-linear-gradient(top, #dc2c64, #ba114f);
	background: -moz-linear-gradient(top, #dc2c64, #ba114f);
	background: -ms-linear-gradient(top, #dc2c64, #ba114f);
	background: -o-linear-gradient(top, #dc2c64, #ba114f);
	padding: 15px 25px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 1px;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 1px;
	box-shadow: rgba(0,0,0,1) 0 1px 1px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #fff;
	font-size: 28px;
	font-weight: 500;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: 0px 1px 3px #73062e;
	text-transform: uppercase;
}

a.button span {	font-size: 16px; display:block; }

a.button:hover {
   border-top-color: #ed8eae;
   background: #9a083d;
   }
a.button:active {
   border-top-color: #ed8eae;
   background: #74032d;
   }

/* ==========================================================================
   Greeting styles
   ========================================================================== */

#container.greeting #main {
    background: url('../imgs/example-postcard.png') no-repeat;
}
#greetingPopup {
    
}

/* ==========================================================================
   First step
   ========================================================================== */
#container.first-step {
    color:#a08a3e;
}
#container.first-step #main {
    background: url('../imgs/example-postcard.png') no-repeat;
    margin:0;
}

/* ==========================================================================
   First step header styles
   ========================================================================== */
header, footer { min-width:860px; }
header {
    height:48px;
    line-height:48px;
}
header .right {
    float:right;
    position:relative;
    top:10px;
    line-height:27px;
}
.step {
    font-weight:700;
    margin-right:20px;
    opacity:.6;
}
.step.active {
    opacity:1;
}
header .right > * { margin-left:23px; }
header .right > .like-button {
    margin-left:35px;
    display:inline-block;
    position: relative;
    top: -5px;
}
header .right .fb-like { width:75px; height:20px; }
/* =====================================
   Languages dropdown
   ===================================== */
.language.dropdown {
    position:absolute;
    padding:12px 0px;
    display:none;
    width:133px;
}
.language.dropdown a {
    color:#61511a;
    padding-left: 45px;
    width:87px;
    display:inline-block;
    text-decoration: none;
    border-top:1px solid #d9d0b2;
    position:relative;
}
.language.dropdown a span {
    position:absolute;
    top:8px;
    left:20px;    
    width:16px;
    height:11px;
    background-image:url('../imgs/flags.png');
    background-repeat: no-repeat;
 }
.language.dropdown a.lt span {
    background-position: 0px 0px;
}
.language.dropdown a.ee span {
    background-position: 0px -11px;
}
.language.dropdown a.lv span {
    background-position: 0px -22px;   
}
.language.dropdown a.en span {
    background-position: 0px -33px;   
}
.language.dropdown a.ru span {
    background-position: 0px -44px;   
}
.language.dropdown a:first-child {
    border-top:none;
}
.language.dropdown a:hover {
    text-decoration:underline; 
}
.dropdown {
    position: relative;
    background: #fff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.75);
}   
.dropdown:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}
/* =====================================
   Icons
   ===================================== */
.icon, .num {
    background:url('../imgs/header-icons.png') no-repeat;
    display:inline-block;
    width:25px;
    height:26px;
}
.icon, .bar { cursor:pointer; }
.icon#faqIcon {
    background-position: 0px -26px;
}
.icon#mute {
    background-position: 0px -52px;
}
.icon#mute.muted {
    background-position: 0px -78px;
}
.icon#languageSelect {
    background-position: 0px -104px;
}
.icon#languageSelect.active {
    background-position: 0px -130px;
}
.num {
    color:#fff;
    line-height:26px;
    text-align:center;
    background-position: 0px 0px;
}
/* =====================================
   Volume bar
   ===================================== */
.volume {
    
}
.bar,.loudness {
    background:url('../imgs/volume-bars.png') no-repeat;
    display:inline-block;
    width:49px;
    height:26px;
    position:relative;
}
.loudness {
    background-position: 0px -26px;
    position:absolute;
    width:30px;
    top:0; left:0; 
}

/* =====================================
   Avatars
   ===================================== */
footer {
    height:140px;
}
footer .avatar {
    cursor:pointer;
    position:relative;
    display:inline-block;
    background:transparent url('../imgs/avatar-holder.png') no-repeat 100% 100%;
    background-size:100% 100% !important;
    margin-top:18px;
    width:100px;
    height:100px;
    margin-right:14px;
}
.small footer { height:100px; }
.small footer .avatar {
    width: 75px;
    height: 75px;
    margin-right: 8px;
    margin-top: 12px;
}
footer .avatar .face,
footer .avatar .see-through,
footer .avatar .default-face {
    background-size:100% 100% !important;
    position:absolute;
    top:0; left:0;
    display:block;
    width:100%;
    height:100%;
}
footer .avatar .see-through {
    background:transparent url('../imgs/avatar-seethrough.png') no-repeat 100% 100%;    
}
footer .avatar .face {
    background:transparent no-repeat 100% 100%;    
    /*url('../imgs/avatar-person.png')*/
}
footer .avatar .default-face {
    background:transparent no-repeat 100% 100%;
    left:-25.5%; top:-19.6%;
    width:151%; height:139%;
}

footer .button {
    float:right;
}

/*107 + 21 height x 2 = 149
106 + 27 width x 2 = 160*/

/* =====================================
   Menu with icons
   ===================================== */
#menu {
        display:none;
	position: absolute;
	border: 5px solid #fff;
        border-radius: 8px;
        font-weight:300;
        -webkit-box-shadow: 0px 0px 35px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 35px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 35px rgba(50, 50, 50, 0.75);
}
#menu:after, #menu:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#menu:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #1380B1;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}
#menu:before {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 27px;
	left: 50%;
	margin-left: -27px;
}
#menu a {
    position:relative;
    width:160px;
    display:block;
    padding:11px 0 11px 45px;
    color:#cbebf9;
    text-decoration: none;
    border-top:1px solid #5dadd1;
}
#menu a:first-child {
    border-top:none;
}
#menu a:hover {
    background:#116e98;
    color:#fff;
}
#menu a span {
    background:url('../imgs/menu-icons.png') no-repeat;
    display:inline-block;
    width:20px;
    left:11px;
    top:18px;
    height:19px;
    position:absolute;
    
}
/* icon size 20x19, pos y: 0, 19, 38, 57, pos x (hover): 0, 20 */
#menu a#from-pc span { background-position: 0px 0px; }
#menu a#from-fb span { background-position: 0px -19px; }
#menu a#edit-pic span { background-position: 0px -38px; top:12px; }
#menu a#delete-pic span { background-position: 0px -57px; top:12px; }
#menu a#from-pc:hover span { background-position: -20px 0px; }
#menu a#from-fb:hover span { background-position: -20px -19px; }
#menu a#edit-pic:hover span { background-position: -20px -38px; }
#menu a#delete-pic:hover span { background-position: -20px -57px; }




/* =====================================
   CSS3 Gradient Helper
   ===================================== */
.gradient {
    background-color: #1380B1;
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #2E98C7 0%, #1380B1 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #2E98C7 0%, #1380B1 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #2E98C7 0%, #1380B1 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2E98C7), color-stop(1, #1380B1));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #2E98C7 0%, #1380B1 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #2E98C7 0%, #1380B1 100%);

}
