/* ==========================================================================
   Base container element styles
   ========================================================================== */

html, body { width:100%; height:100%; }
body {
    background:url('../imgs/bg.jpg') repeat;
    /* solid background */
    /*background: #faedc0 */
    overflow: hidden;
    font-family: Ubuntu, sans-serif;
    font-weight:400;
    font-size:14px;
}
#container {
    display:inline-block;
    padding:0 70px;
    margin:0 auto;
    position:absolute;
    
}

.main {
    background-size: 100% 100% !important;
    width:860px;
    height:491px;
    margin:20px 0 20px;
    position:relative;
}
.main.container.fixedWidth,
.main.container.fixedWidth { width: 860px !important; }
#container .popup#sharePopup { width: auto; }
#container .popup#emailPopup { width: 700px; }
#emailPopup .b-send { margin:20px; margin-bottom: 0; }
#greeting {
    padding-top:20px;
    padding-bottom:20px;
}
#greetingMain {
    margin-top:0px;
    cursor:pointer;
    margin-bottom:0px;
}
#greetingMain #canvas { width:100%; height:100%; }
#greetingMain img { display: none; }

/* ==========================================================================
   Popup. General popup styles, along with overlay
   ========================================================================== */
#overlay {
    z-index:1000;
    position: fixed;
    top:0; left:0;
    background:#fff;
    opacity:.6;
    width:100%;
    height:100%;
    display:none;
}
#overlay.ajax { z-index:1004; }
.popup#ajax {
    border:none !important;
    width:256px !important;
    height:256px !important;
    background:transparent url('../imgs/ajax_loader_blue_256.gif') no-repeat center center !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    z-index:1005 !important;
}


/* ==========================================================================
   Greeting styles
   ========================================================================== */

.container.greeting .main {
    background: url('../imgs/example-postcard.png') no-repeat;
}
#container.anim header .step,
#container.anim header .right .language,
#container.anim header .right #faqIcon {
    display:none;
}

#greetingEdit.popup, #sharePopup.popup {
    top:0 !important;
    left:0 !important;
    position:relative !important;
    z-index: 500;
}
#greetingPopup {
    
}

/* ==========================================================================
   First step
   ========================================================================== */
.container {
    color:#a08a3e;
}
.container .main.first-step {
    background: url('../imgs/example-postcard.png') no-repeat;
    margin:0;
}
/* ==========================================================================
   First step canvasContainer, avatar-hovers and canvas
   ========================================================================== */
#canvasContainer .avatar-hover.hover,
#canvasContainer .avatar-hover.active,
#canvasContainer .avatar-hover:hover { opacity: 1; }
#canvasContainer .avatar-hover {
    opacity: 0;
    cursor:pointer;
    z-index:301;
    position:absolute;
    background:url('../imgs/avatar-hover.png') no-repeat center center;
    background-size:100% 100%;
}
#canvasContainer .avatar-cropped {
    z-index:300;
    position:absolute;
    display:none;
}

/* ==========================================================================
   First step header styles
   ========================================================================== */
header, footer { min-width:860px; }
header {
    height:48px;
    line-height:48px;
}
header .right {
    float:right;
    position:relative;
    top:10px;
    line-height:27px;
}
header .step {
    text-decoration:none;
    color:#a08a3e;
    font-weight:700;
    margin-right:20px;
    opacity:.6;
}
header .step.active {
    opacity:1;
}
header .right > * { margin-left:23px; }
header .right > .like-button {
    margin-left:35px;
    display:inline-block;
    position: relative;
    top: -5px;
}
header .right .fb-like { width:75px; height:20px; }
/* =====================================
   Languages dropdown
   ===================================== */
.language.dropdown {
    position:absolute;
    padding:12px 0px;
    display:none;
    width:133px;
    z-index:999;
}
.language.dropdown a {
    color:#61511a;
    padding-left: 45px;
    width:87px;
    display:inline-block;
    text-decoration: none;
    border-top:1px solid #d9d0b2;
    position:relative;
}
.language.dropdown a span {
    position:absolute;
    top:8px;
    left:20px;    
    width:16px;
    height:11px;
    background-image:url('../imgs/flags.png');
    background-repeat: no-repeat;
 }
.language.dropdown a.lt span {
    background-position: 0px 0px;
}
.language.dropdown a.ee span {
    background-position: 0px -11px;
}
.language.dropdown a.lv span {
    background-position: 0px -22px;   
}
.language.dropdown a.en span {
    background-position: 0px -33px;   
}
.language.dropdown a.ru span {
    background-position: 0px -44px;   
}
.language.dropdown a:first-child {
    border-top:none;
}
.language.dropdown a:hover {
    text-decoration:underline; 
}
.dropdown {
    position: relative;
    background: #fff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.75);
}   
.dropdown:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}
/* =====================================
   Icons
   ===================================== */
.icon, .num {
    background:url('../imgs/header-icons.png') no-repeat;
    display:inline-block;
    width:25px;
    height:26px;
}
.icon, .bar { cursor:pointer; }
.icon#faqIcon {
    background-position: 0px -26px;
}
.icon#mute {
    background-position: 0px -52px;
}
.icon#mute.muted {
    background-position: 0px -78px;
}
.icon#languageSelect {
    background-position: 0px -104px;
}
.icon#languageSelect.active {
    background-position: 0px -130px;
}
.num {
    color:#fff;
    line-height:26px;
    text-align:center;
    background-position: 0px 0px;
}
/* =====================================
   Volume bar
   ===================================== */
.volume {
    
}
.bar,.loudness {
    background:url('../imgs/volume-bars.png') no-repeat;
    display:inline-block;
    width:49px;
    height:26px;
    position:relative;
}
.loudness {
    background-position: 0px -26px;
    position:absolute;
    width:30px;
    top:0; left:0; 
}

/* =====================================
   Avatars
   ===================================== */
footer {
}
footer .avatars {
    margin-right:210px;
}
footer .avatar.hover,
footer .avatar.active,
footer .avatar:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
footer .avatar {
    cursor:pointer;
    position:relative;
    display:inline-block;
    background:transparent url('../imgs/avatar-holder.png') no-repeat 100% 100%;
    background-size:100% 100% !important;
    margin-top:13px;
    margin-bottom:20px;
    width:11%;
    height:120px;
    margin-right:1%;
}
footer .avatar .face,
footer .avatar .see-through,
footer .avatar .default-face {
    background-size:100% 100% !important;
    position:absolute;
    top:0; left:0;
    display:block;
    width:100%;
    height:100%;
}
footer .avatar .face img {
    position:absolute;
}
footer .avatar .see-through {
    background:transparent url('../imgs/avatar-seethrough.png') no-repeat 100% 100%;    
}
footer .avatar .face {
    background:transparent no-repeat 100% 100%;    
    /*url('../imgs/avatar-person.png')*/
}
footer .avatar .default-face {
    background:transparent no-repeat 100% 100%;
    left:-25.5%; top:-19.6%;
    width:151%; height:139%;
}

footer .button {
    float:right;
    position:relative;
    top:20px;
}
.small footer .button { top:10px; }

/*107 + 21 height x 2 = 149
106 + 27 width x 2 = 160*/

/* =====================================
   Menu with icons
   ===================================== */
#menu {
        display:none;
	position: absolute;
	border: 5px solid #fff;
        border-radius: 8px;
        font-weight:300;
	z-index:900;
        -webkit-box-shadow: 0px 0px 35px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 35px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 35px rgba(50, 50, 50, 0.75);
}
#menu:after, #menu:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#menu:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #1380B1;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}
#menu:before {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 27px;
	left: 50%;
	margin-left: -27px;
}
#menu a {
    position:relative;
    width:125px;
    display:block;
    padding:11px 15px 11px 45px;
    color:#cbebf9;
    text-decoration: none;
    border-top:1px solid #5dadd1;
}
#menu a:first-child {
    border-top:none;
}
#menu a:hover {
    background:#116e98;
    color:#fff;
}
#menu a span {
    background:url('../imgs/menu-icons.png') no-repeat;
    display:inline-block;
    width:20px;
    left:11px;
    top:18px;
    height:19px;
    position:absolute;
    
}
/* icon size 20x19, pos y: 0, 19, 38, 57, pos x (hover): 0, 20 */
#menu a#from-pc span { background-position: 0px 0px; }
#menu a#from-fb span { background-position: 0px -19px; }
#menu a#edit-pic span { background-position: 0px -38px; top:12px; }
#menu a#delete-pic span { background-position: 0px -57px; top:12px; }
#menu a#from-pc:hover span { background-position: -20px 0px; }
#menu a#from-fb:hover span { background-position: -20px -19px; }
#menu a#edit-pic:hover span { background-position: -20px -38px; }
#menu a#delete-pic:hover span { background-position: -20px -57px; }




/* =====================================
   CSS3 Gradient Helper
   ===================================== */
.gradient {
    background-color: #1380B1;
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #2E98C7 0%, #1380B1 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #2E98C7 0%, #1380B1 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #2E98C7 0%, #1380B1 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2E98C7), color-stop(1, #1380B1));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #2E98C7 0%, #1380B1 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #2E98C7 0%, #1380B1 100%);

}
.transition {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}