/*
Author: ambu novo
Author URI: http://true-story.lt/

*/

/* POPUP
--------------------------------------------------------------------------------- */
#container .popup h2 {
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 300;
	text-shadow: 0px 1px 4px #0f506c;
	color: #fff;
	background: url(../imgs/heading-line.gif) 0 15px repeat-x;
}

#container .popup h2 span {
	display: inline-block;
	padding: 0 15px;
	background: url(../imgs/popup-texture.jpg) 0 0 repeat-x;
	padding-bottom: 25px;
}


#container .popup a.close-button {
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	background: url(../imgs/icon-close.png) 0 0 no-repeat;
	top: 10px;
	right: 10px;
}

#container .popup {
	background: url(../imgs/popup-texture.jpg) 0 0 repeat-x #258fbf;
	width: 940px;
	padding: 40px;
	border: solid 5px #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 10px #666666;
	-webkit-box-shadow: 0px 0px 10px #666666;
	box-shadow: 0px 0px 10px #666666;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	text-align: center;
	color: #a4d1e5;
	font-size: 16px;
        position:absolute;
        top:25px;
        left:50%;
        display:none;    
        z-index:1001;
}

.button-container {
	clear: both;
	padding: 25px 0;
	text-align: center;
}


/*
faqPopup */

#container #faqPopup h2 {
	font-size: 22px;
	background: none;
}

#container .popup #step1,
#container .popup #step2,
#container .popup #step3 {
	width: 33%;
	float: left;
	text-align: center;
	min-height: 500px;
}

#container .popup #step1 {	background: url(../imgs/faq-steps-divide.png) 100% 40px no-repeat;}
#container .popup #step3 {	background: url(../imgs/faq-steps-divide.png) 0 40px no-repeat;}

#container #faqPopup p {
	padding-left: 15px;
	padding-right: 15px;
}

#container #faqPopup figure {	padding: 35px 0 20px;}

#container #faqPopup div.step {
	background: url(../imgs/heading-line.gif) 0 15px repeat-x;
	padding-bottom: 10px;
	color: #fff;
}

#container #faqPopup div.step span {
	background: url(../imgs/step-count.png) 0 0 no-repeat;
	width: 36px;
	height: 35px;
	margin: auto;
	display: block;
	font-size: 24px;
	font-weight: 700;
	text-shadow: 0px 1px 4px #0f506c;
}

/*
FbPopup */

#container #fbPopup #imgThumbs {
	padding: 50px 0 15px;
	float: left;
	width: 100%;
        height:176px;
}

#container #fbPopup figure {
	width: 25%;
	margin: -1px 0 0 -1px;
	padding: 0;
	float: left;
	text-align: left;
	position: relative;
}

#container #fbPopup figure div {
	border: solid 1px #5cacd0;
	padding: 15px 10px;
	height: 58px;
	background-position: 0 90px;
}
#container #fbPopup figure.selected div,
#container #fbPopup figure div:hover {
	background-color: rgba(92,172,208,0.5);
	background-image: url(../imgs/heading-line.gif);
	background-position: 0 87px;
	background-repeat: repeat-x;
	cursor: pointer;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;
}

#container #fbPopup figure.selected div a,
#container #fbPopup figure div:hover a {
	color: #fff;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: 	color .2s ease-in-out;
	transition: 		color .2s ease-in-out;
}

#container #fbPopup img {
	display: block;
	float: left;
	border: solid 3px #fff;
}

#container #fbPopup figure div a {
	display: block;
	position: absolute;
	left: 80px;
	color: #a4d1e5;
	text-decoration: none;
}

#container #fbPopup #selectedFriend {
	height: 100px;
	position: relative;
}

#container #fbPopup #selectedFriend figure.selected-user {
	padding: 0;
	margin: 0 0 0 200px;
}

#container #fbPopup #selectedFriend figure img {
	margin-right: 15px;
}

#container #fbPopup #selectedFriend a.simple-button {
	position: absolute;
	left: 450px;
	display: block;
	top: 10px;
}

#container #fbPopup #imgFbThumbs h2 span {
	background: url(../imgs/popup-texture.jpg) 0 -180px repeat-x;
}

#container #fbPopup #imgFbThumbs #slider {
	overflow-y: scroll;
	max-height: 360px;
	margin: auto;
	padding: 0 70px;
	position: relative;
}

#container #fbPopup #imgFbThumbs figure {
        border: solid 3px #fff;
	margin: 10px;
	float: none;
	display: inline-block;
        cursor:pointer;
        width:155px;
        height:155px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}
#container #fbPopup #slider figure:hover, 
#container #fbPopup #slider figure.selected {
	border: solid 3px #000;
}


#container #fbPopup #imgFbThumbs #slider a.nav-prev,
#container #fbPopup #imgFbThumbs #slider a.nav-next {
	display: none;
	width: 52px;
	height: 52px;
	background: url(../imgs/slider-nav.png) 0 0 no-repeat;
	position: absolute;
	right: 0;
	top: 40%;
}

#container #fbPopup #imgFbThumbs #slider a.nav-next {
	left: 0;
	right: auto;
}

/*
editPhotoPopup */

#container #editPhotoContainer {
	float: left;
	width: 510px;
}

#container #editPhotoContainer figure {
	width: 505px;
	height: 505px;
	border: solid 5px #fff;
	overflow: hidden;
	margin: 0 0 30px;
        position:relative;
}
#container #editPhotoContainer .overlay {
    z-index:1015;
    pointer-events: none;
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background:url('../imgs/crop-stroke-with-bg.png') no-repeat center center;
}
#container #editPhotoContainer figure img {
    cursor:move;
    z-index:1014;
    left:0;
    top:0;
}

#container #editPhotoTools {
	float: right;
	text-align: left;
	width: 380px;
	margin-left: 40px;
	position: relative;
	padding-bottom: 100px;
	min-height: 410px;
}

#container #editPhotoTools .slider-zoom,
#container #editPhotoTools .slider-rotate {
	clear: both;
	padding-bottom: 30px;
	margin-top: 30px;
	background: url(../imgs/heading-line.gif) 0 100% repeat-x;
}

#container #editPhotoTools .slider {
	height: 30px;
	position: relative;
        left:30px;
        width: 320px;
}

#container #editPhotoTools .sliderWrap {
    position:relative;
}
#container #editPhotoTools .sliderWrap .plus,
#container #editPhotoTools .sliderWrap .minus {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	background: url(../imgs/slider-icons.png) 0 6px no-repeat;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

#container #editPhotoTools .sliderWrap .plus {
	left: auto;
	right: 0;
	background: url(../imgs/slider-icons.png) 7px -20px no-repeat;
}

#container #editPhotoTools .slider .bar {
	width: 100%;
	float: left;
	background: #fff;
	height: 8px;
	margin-top: 10px;
	border: solid 1px #1178a5;
	box-shadow: 
		rgba(255,255,255,0.4) 0 1px 0,
		inset rgba(0,0,0,0.6) 0 1px 3px;
}

#container #editPhotoTools .slider .point {
	position: absolute;
	top: 2px;
        z-index:30;
	left: 150px;
	width: 20px;
	height: 20px;
	float: left;
	border: solid 2px #dd7596;
	background: #ba114f;
	background: -webkit-gradient(linear, left top, left bottom, from(#dc2c64), to(#ba114f));
	background: -webkit-linear-gradient(top, #dc2c64, #ba114f);
	background: -moz-linear-gradient(top, #dc2c64, #ba114f);
	background: -ms-linear-gradient(top, #dc2c64, #ba114f);
	background: -o-linear-gradient(top, #dc2c64, #ba114f);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,.8) 0px 0px 4px;
	-moz-box-shadow: rgba(0,0,0,.8) 0px 0px 4px;
	box-shadow: rgba(0,0,0,.8) 0px 0px 4px;
	cursor: pointer;
	
}

#container #editPhotoTools a.button {
	position: absolute;
	right: 0;
	bottom: 0;
}

/*
sharePopup */

#container #sharePopup #shareBy {
	background: 
		url(../imgs/heading-line.gif) 0 0 repeat-x,
		url(../imgs/heading-line.gif) 0 100% repeat-x;
	padding: 20px 0 40px;
	margin: 20px 0;
}

#container #sharePopup #shareBy .url .input {
	color: #fff;
	text-align: center;
	background: #ba114f;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a78a1), to(#0c597a));
	background: -webkit-linear-gradient(top, #1a78a1, #0c597a);
	background: -moz-linear-gradient(top, #1a78a1, #0c597a);
	background: -ms-linear-gradient(top, #1a78a1, #0c597a);
	background: -o-linear-gradient(top, #1a78a1, #0c597a);
	border-top: solid 1px #0c587a;
	font-size: 26px;
	padding: 10px 20px;
	font-weight: 300;
	min-width: 450px;
	box-shadow: 
		rgba(255,255,255,0.4) 0 1px 0,
		inset rgba(0,0,0,0.6) 0 0 0;
}

#container #sharePopup .buttons-container {
	padding: 40px 0 20px;
}

#container #sharePopup .buttons-container a {
	margin: 0 20px;
}

#container #sharePopup #shareBy .mail {
	position: relative;
	margin-top: 20px;
}

#container #sharePopup #shareBy .mail .input {
	margin-left: 10px;
}

#container #sharePopup #shareBy a.back {
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../imgs/button-back.png) 0 0 no-repeat;
	display: block;
	left: 80px;
	top: 7px;
}

#container .popup .error {
	background: rgba(250,240,120,1);
	display: inline-block;
	padding: 15px;
	margin: 25px 0;
	border: solid 1px #1178a5;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0;
	color: #062938;
}



/* Greeting
--------------------------------------------------------------------------------- */

#container .greeting {
	font-family: Courgette;
	border: solid 10px #fff5c3;
	background: url(../imgs/greeting.jpg) 0 0 repeat-x #f6f5f0;
	width: 655px;
	height: 487px;
	padding: 30px 60px;
	margin: 25px auto;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #112629;
	font-size: 20px;
	overflow: hidden;
}

#container .greeting .content {
	height: 457px;
	background: #ccc;
}

#container .greeting h2 {
	color: #112629;
	font-size: 36px;
	text-transform: none;
	text-shadow: 0 0 0 #0f506c;
	background: url(../imgs/greeting-heading-line.gif) 0 11px repeat-x;
	line-height: 18px;
	margin: 25px 0;
}


#container .greeting h2 span {
	display: inline-block;
	padding: 0 10px;
	background: url(../imgs/greeting.jpg) 50% 0;
	padding-bottom: 25px;
}

#container .greeting p.author {
	position: absolute;
	bottom: 0;
	right: 120px;
	font-size: 16px;
}

#container .greeting .edit {
	font-family: Ubuntu, "Ubuntu Light", "Ubuntu Condensed";
}

#container .greeting .input-edit,
#container .greeting textarea {
	font-family: Ubuntu, "Ubuntu Light", "Ubuntu Condensed";
	width: 630px;
	border: dashed 1px #808987;
	padding: 10px;
	background: rgba(255,255,255,.5);
	display: block;
	margin: 0 0 30px;
	float: left;
	font-size: 16px;
}

#container .greeting input::-webkit-input-placeholder { color: #808987;}
#container .greeting input:-moz-placeholder { color: #808987;}
#container .greeting textarea::-webkit-input-placeholder { color: #808987;}
#container .greeting textarea:-moz-placeholder { color: #808987;}

#container .greeting textarea {
	height: 200px;
}

#container .popup .error a {
	color: #bc1d51;
}


a.button {
	display: inline-block;
	margin: auto;
	clear: both;
	text-align: center;
	line-height: 22px;
	border: none;
	border-top: 1px solid #ed8eae;
	background: #ba114f;
	background: -webkit-gradient(linear, left top, left bottom, from(#dc2c64), to(#ba114f));
	background: -webkit-linear-gradient(top, #dc2c64, #ba114f);
	background: -moz-linear-gradient(top, #dc2c64, #ba114f);
	background: -ms-linear-gradient(top, #dc2c64, #ba114f);
	background: -o-linear-gradient(top, #dc2c64, #ba114f);
	padding: 15px 25px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 1px;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 1px;
	box-shadow: rgba(0,0,0,1) 0 1px 1px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #fff;
	font-size: 28px;
	font-weight: 500;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: 0px 1px 3px #73062e;
	text-transform: uppercase;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: 	background .3s ease-in-out;
	transition: 		background .3s ease-in-out;
        cursor:pointer;
}

a.button span {	font-size: 16px; display:block; }

a.button:hover {
	border-top-color: #ed8eae;
	background: #9a083d;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: 	background .3s ease-in-out;
	transition: 		background .3s ease-in-out;
}
a.button:active {
	border-top-color: #ed8eae;
	background: #74032d;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: 	background .3s ease-in-out;
	transition: 		background .3s ease-in-out;
}

a.simple-button,
button.button {
	display: inline-block;
	margin: 0;
	text-align: center;
	line-height: 14px;
	border: none;
	border-top: 1px solid #a0dcf6;
	background: #ba114f;
	background: -webkit-gradient(linear, left top, left bottom, from(#5fb4d9), to(#1a749c));
	background: -webkit-linear-gradient(top, #5fb4d9, #1a749c);
	background: -moz-linear-gradient(top, #5fb4d9, #1a749c);
	background: -ms-linear-gradient(top, #5fb4d9, #ba114f);
	background: -o-linear-gradient(top, #5fb4d9, #1a749c);
	padding: 9px 10px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 1px;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 1px;
	box-shadow: rgba(0,0,0,1) 0 1px 1px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: 0px 1px 1px #093e55;
	text-transform: uppercase;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: 	background .3s ease-in-out;
	transition: 		background .3s ease-in-out;
}

button.button {
	border-top: 1px solid #ed8eae;
	background: #ba114f;
	background: -webkit-gradient(linear, left top, left bottom, from(#dc2c64), to(#ba114f));
	background: -webkit-linear-gradient(top, #dc2c64, #ba114f);
	background: -moz-linear-gradient(top, #dc2c64, #ba114f);
	background: -ms-linear-gradient(top, #dc2c64, #ba114f);
	background: -o-linear-gradient(top, #dc2c64, #ba114f);
	cursor: pointer;
	margin-left: 10px;
}


.input {
	border: solid 1px #1178a5;
	color: #1c4f66;
	box-shadow: 
		rgba(255,255,255,0.4) 0 1px 0,
		inset rgba(0,0,0,0.6) 0 1px 3px;
	padding: 8px 7px;
	font-family: Ubuntu, "Ubuntu Light", "Ubuntu Condensed";
	min-width: 280px;
	font-size: 16px;
}

::-webkit-input-placeholder { color: #93afbb;}
:-moz-placeholder { color: #93afbb;}